Repository uni-tj/robo-arena, pull requests merged in 2024-09, with the labels that each got.

#109 Door open/close Events
  src/roboarena/server/room.py
  src/roboarena/shared/types.py
Labels: enhancement, server

#113 No Build on PR
  .github/workflows/build.yml
Labels: ci

#114 Client Door Events
  src/roboarena/client/entity.py
  src/roboarena/server/room.py
  src/roboarena/shared/types.py
Labels: enhancement, client

#84 feat: Enemy Sounds
  src/roboarena/client/client.py
  src/roboarena/client/entity.py
  src/roboarena/client/master_mixer.py
  src/roboarena/resources/sounds/enemy/enemy-dying.mp3
  src/roboarena/resources/sounds/enemy/enemy-hit.mp3
  src/roboarena/resources/sounds/enemy/enemy-hover.mp3
  src/roboarena/resources/sounds/enemy/enemy-shot.mp3
Labels: client, sound

#115 feat: Door-Sounds
  src/roboarena/client/entity.py
  src/roboarena/client/master_mixer.py
  src/roboarena/resources/sounds/door/door.mp3
  src/roboarena/shared/util.py
Labels: enhancement, client, sound

#77 feat: Player Animation
  src/roboarena/resources/graphics/player/player-centre.png
  src/roboarena/resources/graphics/player/player-left-half.png
  src/roboarena/resources/graphics/player/player-left.png
  src/roboarena/resources/graphics/player/player-right-half.png
  src/roboarena/resources/graphics/player/player-right.png
  src/roboarena/resources/graphics/robots/droid.PNG
  src/roboarena/shared/entity.py
Labels: ui, client

#110 Healthbar Connection
  src/roboarena/client/client.py
  src/roboarena/client/entity.py
  src/roboarena/server/server.py
  src/roboarena/shared/constants.py
  src/roboarena/shared/game_ui.py
Labels: ui, client, server

#104 feat: Textures for open and closed doors
  src/roboarena/resources/graphics/doors/door-closed.png
  src/roboarena/resources/graphics/doors/door-horizontal-closed-top.PNG
  src/roboarena/resources/graphics/doors/door-horizontal-closed.PNG
  src/roboarena/resources/graphics/doors/door-horizontal-open-top.PNG
  src/roboarena/resources/graphics/doors/door-horizontal-open.PNG
  src/roboarena/resources/graphics/doors/door-open.png
  src/roboarena/resources/graphics/doors/door-vertical-closed.PNG
  src/roboarena/resources/graphics/doors/door-vertical-open.PNG
Labels: enhancement, ui, client

#122 Use Door Textures
  src/roboarena/shared/block.py
  src/roboarena/shared/entity.py
Labels: enhancement, ui, client

#107 refactor: Texture Resolutions
  src/roboarena/client/menu/main_menu.py
  src/roboarena/client/menu/settings_menu.py
  src/roboarena/resources/graphics/aliens/alien.PNG
  src/roboarena/resources/graphics/bullets/bullet-alien.png
  src/roboarena/resources/graphics/bullets/bullet-enemy.PNG
  src/roboarena/resources/graphics/bullets/bullet-laser.png
  src/roboarena/resources/graphics/bullets/bullet-player.PNG
  src/roboarena/resources/graphics/buttons/button-back-h.PNG
  src/roboarena/resources/graphics/buttons/button-back-hover.PNG
  src/roboarena/resources/graphics/buttons/button-back-uh.PNG
  src/roboarena/resources/graphics/buttons/button-back-unhover.PNG
  src/roboarena/resources/graphics/buttons/button-downkey-h.PNG
  src/roboarena/resources/graphics/buttons/button-downkey-hover.PNG
  src/roboarena/resources/graphics/buttons/button-downkey-uh.PNG
  src/roboarena/resources/graphics/buttons/button-downkey-unhover.PNG
  src/roboarena/resources/graphics/buttons/button-leftkey-h.PNG
  src/roboarena/resources/graphics/buttons/button-leftkey-hover.PNG
  src/roboarena/resources/graphics/buttons/button-leftkey-uh.PNG
  src/roboarena/resources/graphics/buttons/button-leftkey-unhover.PNG
  src/roboarena/resources/graphics/buttons/button-play-h.PNG
  src/roboarena/resources/graphics/buttons/button-play-hover.PNG
  src/roboarena/resources/graphics/buttons/button-play-uh.PNG
  src/roboarena/resources/graphics/buttons/button-play-unhover.PNG
  src/roboarena/resources/graphics/buttons/button-rightkey-h.PNG
  src/roboarena/resources/graphics/buttons/button-rightkey-hover.PNG
  src/roboarena/resources/graphics/buttons/button-rightkey-uh.PNG
  src/roboarena/resources/graphics/buttons/button-rightkey-unhover.PNG
  src/roboarena/resources/graphics/buttons/button-settings-h.PNG
  src/roboarena/resources/graphics/buttons/button-settings-hover.PNG
  src/roboarena/resources/graphics/buttons/button-settings-uh.PNG
  src/roboarena/resources/graphics/buttons/button-settings-unhover.PNG
  src/roboarena/resources/graphics/buttons/button-sound-mute.png
  src/roboarena/resources/graphics/buttons/button-sound-unmute.png
  src/roboarena/resources/graphics/buttons/button-upkey-h.PNG
  src/roboarena/resources/graphics/buttons/button-upkey-hover.PNG
  src/roboarena/resources/graphics/buttons/button-upkey-uh.PNG
  src/roboarena/resources/graphics/buttons/button-upkey-unhover.PNG
  src/roboarena/resources/graphics/floor/floor-start.PNG
  src/roboarena/resources/graphics/floor/floor1.PNG
  src/roboarena/resources/graphics/floor/floor2.PNG
  src/roboarena/resources/graphics/floor/floor3-end.PNG
  src/roboarena/resources/graphics/floor/floor3.PNG
  src/roboarena/resources/graphics/floor/floor4-end.PNG
  src/roboarena/resources/graphics/floor/floor4.PNG
  src/roboarena/resources/graphics/gameUI/healthbar/healthbar-background.png
  src/roboarena/resources/graphics/gameUI/healthbar/heart-empty.PNG
  src/roboarena/resources/graphics/gameUI/healthbar/heart-full.PNG
  src/roboarena/resources/graphics/gameUI/healthbar/heart-half.PNG
  src/roboarena/resources/graphics/gameUI/weaponUI/weaponUI-background.png
  src/roboarena/resources/graphics/objects/chest-top.PNG
  src/roboarena/resources/graphics/objects/chest.PNG
  src/roboarena/resources/graphics/wall/wall.PNG
  src/roboarena/resources/graphics/walls/wall-top-corner-left.PNG
  src/roboarena/resources/graphics/walls/wall-top-corner-right.PNG
  src/roboarena/resources/graphics/walls/wall-top.PNG
  src/roboarena/resources/graphics/walls/wall.PNG
  src/roboarena/resources/graphics/weapons/laser-gun.PNG
  src/roboarena/shared/block.py
  src/roboarena/shared/entity.py
  src/roboarena/shared/game_ui.py
Labels: Refactoring, ui, client

#116 Weapon Rendering
  src/roboarena/client/entity.py
  src/roboarena/server/entity.py
  src/roboarena/shared/entity.py
  src/roboarena/shared/rendering/renderer.py
  src/roboarena/shared/util.py
  src/roboarena/shared/utils/vector.py
  tests/vector_angle_test.py
Labels: enhancement, ui, client, server

#92 Enemy Bullets
  src/roboarena/client/client.py
  src/roboarena/client/entity.py
  src/roboarena/server/entity.py
  src/roboarena/shared/entity.py
  src/roboarena/shared/types.py
Labels: enhancement, client, server

#124 feat: Font & Title
  src/roboarena/client/menu/main_menu.py
  src/roboarena/client/menu/settings_menu.py
  src/roboarena/client/menu/text.py
  src/roboarena/resources/graphics/font/ka1.ttf
Labels: enhancement, ui, client

#59 fix: Flickering Lines When Aspect Ratio != 1:1
  src/roboarena/shared/constants.py
  src/roboarena/shared/rendering/renderer.py
Labels: bug, ui

#137 Client Enemy ShotEvent
  src/roboarena/client/entity.py
  src/roboarena/server/entity.py
  src/roboarena/shared/types.py
Labels: enhancement, client

#145 Release 1.1.0
  CHANGELOG.md
Labels: chore
