Repository uni-tj/robo-arena, pull requests merged in 2024-08, with the labels that each got.

#47 Unique blocks & simplify level conversion
  src/roboarena/server/level_generation/level_generator.py
  src/roboarena/server/level_generation/level_processing.py
  src/roboarena/server/level_generation/tile.py
  src/roboarena/shared/block.py
  src/roboarena/shared/rendering/renderer.py
  src/roboarena/shared/util.py
Labels: bug, Refactoring, level generation

#49 Remove Block Inheritance
  src/roboarena/server/level_generation/level_processing.py
  src/roboarena/shared/block.py
  src/roboarena/shared/rendering/renderer.py
Labels: Refactoring, level generation

#54 feat: Menue Sounds
  src/roboarena/client/client.py
  src/roboarena/client/keys.py
  src/roboarena/client/master_mixer.py
  src/roboarena/client/menu/button.py
  src/roboarena/client/menu/main_menu.py
  src/roboarena/client/menu/main_menue.py
  src/roboarena/client/menu/menu.py
  src/roboarena/client/menu/settings_menu.py
  src/roboarena/resources/sounds/menu/button-click.mp3
  src/roboarena/resources/sounds/menu/button-hover.mp3
  src/roboarena/resources/sounds/menu/button-key-set.mp3
  src/roboarena/shared/util.py
Labels: enhancement, client

#52 feat: Bullet-Textures
  src/roboarena/resources/graphics/bullets/bullet-alien.png
  src/roboarena/resources/graphics/bullets/bullet-laser.png
Labels: enhancement, ui

#56 test(vector): Vector and Tuple arithmetic tests
  src/roboarena/shared/utils/tuple_vec.py
  tests/tuple_vec_test.py
  tests/vector_float_test.py
  tests/vector_int_test.py
Labels: ci

#69 Implement Menu Quit
  src/roboarena/client/client.py
  src/roboarena/client/menu/main_menu.py
  src/roboarena/client/menu/menu.py
  src/roboarena/client/menu/settings_menu.py
  src/roboarena/client/util.py
Labels: bug, ui, client

#73 refactor(utils): move perftester to utils + split progress bar from perftester
  perf_test/bittests.py
  perf_test/perf_tester.py
  perf_test/spaceperftest.py
  perf_test/while_true.py
  src/roboarena/shared/utils/perf_tester.py
  src/roboarena/shared/utils/progress_bar.py
Labels: Refactoring

#76 Player Move Event
  src/roboarena/client/entity.py
Labels: enhancement, client

#68 feat(timer): add periodic-printing+console clearing
  src/roboarena/shared/utils/statistics.py
  src/roboarena/shared/utils/system_utils.py
  src/roboarena/shared/utils/table_printer.py
  src/roboarena/shared/utils/timer.py
Labels: enhancement

#85 Fix Shot Event on Player
  src/roboarena/client/entity.py
Labels: bug, client

#86 fix: Sound-is-not-muted
  src/roboarena/client/master_mixer.py
Labels: client, sound

#87 Fix Crash when Bullet moves out of Level
  src/roboarena/client/entity.py
  src/roboarena/server/entity.py
  src/roboarena/shared/game.py
  src/roboarena/shared/rendering/renderer.py
  src/roboarena/shared/types.py
  src/roboarena/shared/util.py
Labels: bug, server

#89 fix(timer): increment run counter
  src/roboarena/shared/utils/timer.py
Labels: bug

#80 Precise Clock
  src/roboarena/client/client.py
  src/roboarena/shared/time.py
Labels: ui, client, perf
